/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #f47f72;
  --brand-color: #ed1c24;
  --first-color-alt: #c42130;
  --first-color-send: #de3b49;
  --title-color: #231f20;
  --text-color: #5d5d5d;
  --text-color-light: #8f8a8a;
  --body-color: #fafafa;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Manrope", sans-serif;
  --biggest-font-size: 3.052rem;
  --h2-font-size: 1.953rem;
  --h3-font-size: 1.563rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.8rem;
  /*========== Font weight ==========*/
  --regular: 400;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-send: #161212;
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #251d1e;
  --container-color: #302728;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-bold);
  color: var(--title-color);
}

h1 {
  line-height: 1.2;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.l-main {
  /* overflow: hidden; */
}

.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.fd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav{
  margin-top: 1rem;
}

.nav,
.food-nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-nav{
  position:sticky;
  top:0;
  z-index: 5;
  background: var(--body-color);
  color: var(--text-color);
  border-bottom-left-radius: var(--mb-1);
  border-bottom-right-radius: var(--mb-1);
  width:100%;
  

}



.nav__item,
.food__item {
  margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.food__link{
  color: var(--text-color);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link,
.food__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.food__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1.5rem);
}

/* Active menu link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(218, 37, 53, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop:focus{
  background-color: inherit;
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/

.home{
  margin-top: calc(var(--header-height) + var(--mb-6));
}

.home__container {
  row-gap: 0.5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}



/*========== PRODUCTS ==========*/
.product__container {
  grid-template-columns: repeat(2, 224px);
  padding-bottom: 2rem;
}

.product__content {
  position: relative;
  display: grid;
  height: 170px;
  /* padding: 0.25rem 0.75rem 0.75rem; */
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}

.product__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.product__img {
  width: 100%;
  justify-self: center;
  margin-bottom: 0.25rem;
  margin-top: 0;
  border-radius: 1rem;
}

.product__title,
.product__category {
  text-align: center;
}

.product__title {
  font-size: var(--normal-font-size);
}

.product__category {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.product__price {
  font-weight: var(--font-bold);
  color: var(--title-color);
}

/*========== SEND GIFT ==========*/
.promo {
  background-color: var(--first-color-send);
}

.promo__title,
.promo__description {
  color: #fff;
}

.promo__description {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.promo__direction {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.promo__input {
  width: 70%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.promo__input::placeholder {
  font-family: var(--body-font);
}

.promo__img {
  width: 280px;
  justify-self: center;
}

/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo {
  color: var(--title-color);
}

.footer__title {
  margin-bottom: var(--mb-2);
}

.footer__logo,
.footer__title {
  font-size: var(--h3-font-size);
}

.footer__link {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/




@media screen and (max-width: 767px) {
  body{
    margin-top: calc(var(--header-height) + 1.5);
  }

  .nav__menu,
  .food__menu {
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
   
  }

  .nav__menu{
    position: fixed;
    z-index: var(--z-fixed);
    padding: 2.5rem 0 0;
  } 

  .food__menu {
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
   
  }

  .nav{
    height:calc(var(--header-height) + 1rem);
  }

  
  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
  }

  .nav__logo{
    width:22%;
    /* margin-top: var(--mb-1); */
  }

  .show-menu {
    top: calc(var(--header-height) + 1.5rem);
  }

  .food__menu {
    margin-left:0;
    margin-right:0;
    width:100%;
  }
  .food__list {
    display: flex;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 2.5rem 0 0;
    width: 92%;
    margin-left:4%;
    margin-right:4%;
  }

  /* .food__list::-webkit-scrollbar {
    -webkit-appearance: none;
  } */
  
  /* .food__list::-webkit-scrollbar:vertical {
    width: 11px;
  } */
  
  /* .food__list::-webkit-scrollbar:horizontal {
     height: 5px;
  } */
  
  /* .food__list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
  }
   */
  



  .food-nav {
    position:static;
    z-index: 0;
    margin-right: 0;
    margin-left:0;
    height: auto;
    padding-bottom: var(--mb-2);
  }
  .food__link{
    white-space: nowrap;
    margin:0 var(--mb-3);
    
  }


  .product__content{
    height:240px;
  }

  .product__category{
    height:50px;
  }

  .product__title__container{
    height:52px;
    display: flex;
    align-items: center;
  }

  .product__price, .product__title, .product__category{
    margin-left:var(--mb-1);
    margin-right:var(--mb-1);
  }

  .product__title, .product__category {
    text-align: left;
  }

  /* .promo__img{
    display:none;
  } */


}

@media screen and (max-width: 967px) {
  .promo__img{
    display:none;
  }

  .product__container{
    justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  .home__title{
    font-size: var(--h2-font-size);
  }
}
 





/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .promo__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  /* .promo__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  } */

  .section-title-center,
  .product__category,
  .product__title,
  .promo__description,
  .product__price {
    text-align: left;
  }
  .product__title,
  .product__category,
  .product__price {
    margin-left: var(--mb-1);
  }

  .promo__img {
    width: 100%;
  }

  .product__container {
    grid-template-columns: repeat(2, 224px);
    justify-content: center;
  }

  .product__content {
    height: 280px;
  }
}

@media screen and (max-width:767px){
  .home__title{
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 768px){
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav,
  .food-nav {
    height: calc(var(--header-height) + 1.5rem);
  }


  .nav__list,
  .food__list {
    display: flex;
    align-items: center;
  }

  .nav__item,
  .food__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container {
    padding: 7rem 2rem 0;
  }

  .product__container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .product__content {
    height: 280px;
  }

  .product__img {
    width: 100%;
    margin-bottom: var(--mb-1);
    border-radius: 1rem;
  }

  .product__title,
  .product__category {
    text-align: left;
  }

  .product__title,
  .product__category,
  .product__price {
    margin-left: var(--mb-1);
    margin-right:var(--mb-1);
  }

  .promo {
    background: none;
  }

  .promo__container {
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }
  
}

/* Medium Devices, Desktops */

@media screen and (min-width: 968px) {
  .bd-container,
  .fd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .promo__img {
    width: 469px;
  }

  .promo__container {
    column-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .product__container {
    grid-template-columns: repeat(4, 224px);
    justify-content: center;
  }
}

.hideit{
  display:none;
}

.bx-shade{
  box-shadow: 5px 10px 18px rgb(0, 0, 0, 0.25);
}

.reveal__on__scroll{
  position: relative;
  transform: translateY(-70px);
  opacity:0;
  transition: all 1s ease;
}

.reveal__on__scroll.scroll__visible{
  transform: translateY(0px);
  opacity:1;
}

.color__change__background{
  background:var(--first-color-send);
}

.color__change__text{
  color:#fafafa;
}

.active-link-sticky {
  position: relative;
}

.active-link-sticky:before{
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #fafafa;
  border-radius: 50%;
}


@media screen and (max-width:550px){
  .home__title{
    font-size: var(--h3-font-size);
  }
}

@media screen and (max-width:450px){
  .home__title{
    font-size: var(--normal-font-size);
  }
}


@media screen and (max-width:305px){
  .home__title{
    font-size: var(--small-font-size);
  }
}
